body {
    background-color: rgb(134, 46, 5);
    text-align: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

h1 {
    color: rgb(78, 6, 6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    height: 100px;
    margin: 0px;
    padding-top: 60px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(230, 166, 166);
}

.wrapper {
    margin: auto;
    width: 532px;
}


#toDo {
    width: 400px;
    height: 55px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.divLabel {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.todoItem {
    padding: 20px;
    align-items: center;
    background-color: rgb(165, 68, 11);
    width: 364px;
    height: 30px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    outline: none;
}

.fa-trash-alt {
    opacity: 10%;
    font-size: 20px;
    color: black;
    cursor: pointer;

}

.fa-trash-alt:hover {
    opacity: 100%;
}

.checkbox {
    cursor: pointer;
}