body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;

}

.container1 {
    position: relative;
    justify-content: center;
    width: 400px;
    height: 700px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    background-color: rgb(107, 20, 144);
    border-color: rgb(172, 123, 232);
    border-radius: 15px;
}

.title {
    color: rgb(218, 152, 230);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#inputproduct {
    width: 300px;
    height: 20px;
    position: relative;
    background-color: rgb(253, 244, 255);
    border: 3px;
    border-color: rgb(170, 125, 195);
    left: 30px;
    top: 8px;
    border-style: ridge;
}

#trash {
    opacity: 0.5;
    position: relative;
    left: 350px;
    top: -17px;
}

#trash:hover {
    opacity: 1;
}

#check {
    left: 10;
    position: absolute;
}

li:hover {
    background-color: rgb(219, 198, 226);
    width: 367px;
}



ul {
    list-style-type: none;
}

#check {
    background-color: white
}



#amount {
    width: 300px;
    height: 20px;
    position: relative;
    background-color: rgb(253, 244, 255);
    border: 3px;
    border-color: rgb(170, 125, 195);
    left: 30px;
    top: 8px;
    border-style: ridge;
}

#inputcomment {
    width: 300px;
    height: 20px;
    position: relative;
    background-color: rgb(253, 244, 255);
    border: 3px;
    border-color: rgb(170, 125, 195);
    left: 30px;
    top: 8px;
    border-style: ridge;
}

#date {
    position: relative;
    left: 110px;
    width: 150px;
    height: 20px;
    top: -4px;
}

fieldset {
    border: none;
}

#allinputs {
    border: none;
}

#edit {
    color: rgb(12, 1, 1);
    opacity: 0.5;
    position: relative;
    left: 380px;
    top: -35px;
}

#edit:hover {
    opacity: 1;
}

#alloutputs {
    border-style: none;
    width: 395px;
    height: 410px;
    position: relative;
    left: 6px;
}

.checkbox {
    position: relative;
    left: 1px;
}

#buy {
    color: black;
    font-size: smaller;
    position: relative;
    left: 128px;
}

#checkboxdate {
    position: relative;
    left: 130px;
    width: 20px;
    height: 20px;
    top: 4.5px;
}

.checkbox1 {
    position: relative;
}

#add {
    background-color: white;
    width: 100px;
    height: 30px;
    position: relative;
    left: 155px;
    border-radius: 10%;
    top: -10px;
    opacity: 0.7;
    text-align: center;
}

#button {
    position: relative;
    top: -190px;
}

button:hover {
    transform: scale(1.15);
    transition: 0.3s;
}