body {
    text-align: center;
    background-color: rgb(171, 53, 201);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

canvas {
    border: solid rgb(34, 31, 209);
    border-radius: 5px;
    background-color: white;
}