@media only screen and (max-width: 1050px) {
    canvas {
        width: 100%;
    }
    }

body {
    text-align: center;
    background-color: rgb(21, 57, 66);
    color: rgb(221, 15, 15);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

canvas {
    border: solid rgb(33, 17, 179);
    border-radius: 8px;
}